body {
    background-color: #eeefef;
    width: 100%;
    height: auto;
}
#container {
    position: relative;
    width: 70%;
    left: 15%;
    background-color: #ffffff;
}
#inputSection {
    padding-top: 5%;
}
.components-wrapper {
    position: relative;
    margin: 0% 3%;
    left: 5%;
    width: 100%;
    color: #7c7c7c;
    overflow: hidden;
}
h2 {
    color: #000000;
}
.text-in-component {
    margin: 0px;
}
.input00 {
    width: 54%;
    height: 30px;
    border: 1px solid #ececec;
    font-weight: 600;
}
input::placeholder {
    font-size: 90%;
    color: #7c7c7c;
}
.button-in-regform {
    background-color: #17a7e7;
    color: #ffffff;
    margin: 40px 5px;
    margin-left: 0px;
    width: 13%;
    height: 40px;
    text-align: center;
    border: 0px;
    outline: 0px;
    border-radius: 5px;
}
.clicked-button-in-regform {
    background-color: crimson;
    color: #ffffff;
    margin: 40px 5px;
    margin-left: 0px;
    width: 13%;
    height: 40px;
    text-align: center;
    border: 0px;
    outline: 0px;
    border-radius: 5px;
}

.button-in-regform:active,
.button-in-input:active,
.clicked-button-in-regform {
    outline: none;
    box-shadow: 0px 0px 1px 1px darkblue;
}
.button-in-input {
    background-color: lightslategrey;
    color: #ffffff;
    width: 5%;
    height: 29px;
    text-align: center;
    border: 0px;
    outline: 0px;
    border-radius: 5px;
}
#videoContainer {
    border: 1px solid lightslategrey;
    width: 84%;
    margin-bottom: 50px;
}
video {
    width: 100%;
    height: auto;
}
